{% extends 'base.html' %}
{% load static %}
{% load cropping %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{{ form.media }}
{% endblock %}
{% block content %}

<div class="content-wrap">
    <div class="img-container">
        <img src="{% static 'images/form-background.webp'%}" alt="Form background image">
    </div>

    <div class="form-container">
        <div class="page-header">
            {% if player %}
                <h1>Edit {{ player.name }}</h1>
            {% else %}
                <h1>Add a Player</h1>
            {% endif %}
        </div>

        <form action="" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn submit">Submit!</button>
        </form>
    </div>
</div>

{% endblock %}
