{% extends 'base.html' %}  
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/main_app/player_confirm_delete.css' %}">
{% endblock %}
{% block content %}

<div class="content-container">
  <div class="page-header">
    <h1>Delete Player?</h1>
    <h2>Are you sure you want to delete {{ player.name }}?</h2>
    <img src="{% static 'images/moogle-icon.png' %}" alt="a moogle icon" />
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    <a href="{% url 'player_detail' player.id %}" class="btn secondary">Cancel</a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
</div>

{% endblock %}
