.content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
}

.form {
    background-color: #9fc8f2;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 10px 14px #aaaaaa;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
  
table {
    padding: 0 40px;
    width: 100%;
    border-spacing: 0 20px;
}
  
th {
    text-align: left;
    padding: 6px 20px 0 0;
    font-weight: normal;
    vertical-align: top;
    font-size: var(--font-reg);
}
  
td {
    max-width: 50%;
}
  
td > * {
    width: 100%;
    padding: 2px 4px;
    font-size: var(--font-l);
}
  
td > textarea {
    height: calc(4 * var(--font-l) + 8px);
    font-family: inherit;
}
  
.btn {
    align-self: flex-end;
    margin-right: 40px;
}