{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/players/details.css' %}">
{% endblock %}
{% block content %}

<section class="player_container">
    {% if player.player_img %}
    <div class="player_details">
        <h1>{{ player.name }}</h1>
            <img id="player_img" src="{{ player.player_img.url }}" alt="player uploaded image" />
        {% endif %}
        <h2>{{ player.user }}'s character on {{player.get_server_display}}</h2>
        <h3 id="role">Role: {{player.get_role_display}}</h3>
        <h3 id="contact">Contact Information: {{ player.contact }}</h3>
    {% if player.user == request.user %}
        <div class="player-actions">
            <a href="{% url 'player_update' player.id %}" class="btn warn">Edit</a>
            <a href="{% url 'player_delete' player.id %}" class="btn danger">Delete</a>
        </div>
    {% endif %}
</div>
</section>

    <div class="job_container">
        <section class="jobs">
            <div class="subsection-title">
    <h1 id="add_title">Add a Job</h1>
            </div>
    {% if player.user == request.user %}
        <form
        action="{% url 'add_job' player.id %}"
        method="post"
        class="subsection-content"
        autocomplete="off"
        >
            {% csrf_token %}
            {{ job_form.as_p }}
            <button type="submit" class="btn submit">Add Job</button>
        </form>
    {% endif %}

    <div class="job_details">
        <table>
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Description</th>
                </thead>
                <tbody>
            {% if jobs %}
                {% for job in jobs %}
                <tr>
                    <td>{{job.get_name_display}}</td>
                    <td>{{ job.description }}
                        <td>
                    {% if player.user == request.user %}
                        <div class="job-actions">
                            <a href="{% url 'job_update' job.id %}" class="btn job">Edit</a>
                        </div>
                    </td>
                    </td>
                </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>⚠️ {{player.name}} has no jobs yet!</p>
            {% endif %}
        </ul>
    </table>
</div>
</section>

{% endblock %}
