{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/players/index.css' %}">
{% endblock %}
{% block content %}

<section class="index-header">
    <h1>Community Page</h1>
</section>
<section class="player-container">
    {% for player in players %}
        <div class="box">
            <a href="{% url 'player_detail' player.id %}">
                <div class="box-image">
                    {% if player.player_img %}
                        <img src="{{ player.player_img.url }}" alt="player uploaded image" />
                    {% else %}
                        <img id="box-image" src="{% static 'images/chocobo-placeholder.png' %}" alt="a happy chocobo" />
                    {% endif %}
                </div>
                <div class="box-content">
                    <h2 class="box-title">{{ player.name }}</h2>
                    <p>{{ player.user }}'s character on {{player.get_server_display}}</p>
                    <p>Role: {{player.get_role_display}}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</section>

{% endblock %}
