main {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../../images/jobs-icons.png");
  background-repeat: repeat;
  background-blend-mode: lighten;
  color: #0c2d4c;
}

.index-header {
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  height: fit-content;
}

.player-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box {
    background-color: #ffffff;
    color: #0c2d4c;
    width: 275px;
    margin: 10px;
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
  }

  #box-image {
    width: 100%;
  }
  
  .box-content {
    padding: 10px;
    width: 100%;
  }
  
  .usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
  }
  
  .box > a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .box h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
  }
  
  .box p {
    margin: 5px 0;
    font-size: var(--font-reg);
  }
  
